<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<ul>
    <div class="home-link-container">
        <li><a href="/">Home</a></li>
    </div>
    <div class="right-navigation">
        <li th:if="${loggedInUser == null}"><a href="/login">Log In</a></li>
        <li th:unless="${loggedInUser == null}"><a href="/logout">Log Out</a></li>
        <li th:if="${loggedInUser == null}"><a href="/create-account">Sign Up</a></li>
        <li th:unless="${loggedInUser == null}"><a href="/profile">My Profile</a></li>
    </div>
</ul>


</body>
</html>