.about-container {
  padding: 10rem 0;
  margin-top: -6rem;
  background-color: #0000FF ;
  /* background-color: #fff; */
  /* width: 80vw; */
}

a {
  text-decoration: none;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  text-transform: uppercase;
  font-family: 'Megrim';
  font-weight: 800;
  font-size: 2.7rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
  position: relative;
}

.header-title::after {
  content: "";
  width: 10rem;
  height: .8rem;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(196,193,193,0.6867121848739496) 100%, rgba(0,212,255,1) 100%);


  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.card-container {
  width 100 rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /* flex-direction: row; */
}

.profileCard {
  width: 25rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  /* padding: 20px; */
  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.profileCard .card-img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 32%, 0 100%);
}

.profileCard .profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  margin-bottom: 1.5rem;
  z-index: 999;
  border: .2rem solid black;
}

.profileCard h1 {
  font-family: 'Megrim';
  font-weight: 900;
  font-size: 2.3rem;
  color: #333;
  /* margin: 1.5rem 0; */
}

.job-title {
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}

.job-title-aloy {
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -6.8px;
}

.about {
  font-size: 1rem;
  margin: 1.2rem 0;
  text-align: justify;
  color: #333;
  width: 90%;
  height: 150px;
  padding: 5px;
}

.profileCard .btn {
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.2rem;
  transition: all .5s;
}

.profileCard .btn:hover {
  transform: translateY(-1px);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}

.profileCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}

.profileCard {
  transition: .5s;
  animation: ease-in;
}

.social-media {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.social-media i {
  font-size: 2.6rem;
  transition: color .5s;
}

.fa-linkedin-in {
  color: #0e76a9;
}

.fa-linkedin-in:hover {
  /*color:  #45B649;*/
  color: #4e4d4d
}

.fa-github-square {
  color: black;
}

.fa-github-square:hover {
  /*color:  #45B649;*/
  color: #4e4d4d

}

.fa-solid fa-people-group {
  color: black;
}

.fa-solid fa-people-group:hover {
  /*color:  #45B649;*/
  color: #4e4d4d

}

@media screen and (min-width: 700px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .profileCard {
    margin: 2rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
  .profileCard:nth-child(1) {
    animation: fadeIn 1s .3s backwards;
  }
  .profileCard:nth-child(2) {
    animation: fadeIn 1s .5s backwards;
  }
  .profileCard:nth-child(3) {
    animation: fadeIn 1s .7s backwards;
  }
  .profileCard:nth-child(4) {
    animation: fadeIn 1s .9s backwards;
  }
}