<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>
<main>
    <h1>General Thread Page</h1>
    <a href="/create-topic">New Topic</a>
<!--    <h1 th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}"></h1>-->
    <ol>
        <li th:each="topic: ${topicList}">
            <a th:href="@{/general/{topicSource}(topicSource=${topic.id})}" th:text="${topic.subject} + ' ' +  ${topic.originalPoster.username} + ' ' + ${topic.mostRecentPostDate}"></a>
        </li>
    </ol>
</main>
<footer></footer>
</body>
</html>
