<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: ul"></div>
</header>
<main>
    <h1>General Thread Page</h1>
    <a href="/create-topic">New Topic</a>
<!--    <h1 th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}"></h1>-->
    <ol th:if="${topicList != null}">
        <li th:each="topic: ${topicList}">
            <a th:href="@{/general/{topicSource}(topicSource=${topic.id})}" >
                <div class="topic-container">
                    <span th:text="${topic.subject}"></span>
                    <a th:href="'/profile/' + ${topic.originalPoster.id}" th:text="${topic.originalPoster.username}"></a>
                    <span th:text="${topic.mostRecentPostDate}"></span>
                </div>
            </a>
        </li>
    </ol>
</main>
<footer></footer>
</body>
</html>
