<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: ul"></div>
</header>
<main>
    <h1>Log in</h1>
    <form action="/login" method="post">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Log In">
        </fieldset>
    </form>
</main>
<footer></footer>
</body>
</html>
