<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Topic</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: ul"></div>
</header>
<main>
    <h1>New Topic</h1>
    <form action="/create-topic" method="post">
        <fieldset>
            <label for="subject">Subject</label>
            <input type="text" name="subject">
        </fieldset>
        <fieldset>
            <label for="body">Content Body</label>
            <textarea type="text" name="body"></textarea>
            <input type="submit" value="Create Topic">
        </fieldset>
    </form>
</main>
<footer></footer>
</body>
</html>
