<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topic</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: ul"></div>
</header>
<h1 th:text="${currentTopic.subject}"></h1>
<a href="/general">Back to General</a>
<main></main>
<ol>
<li th:each="post: ${currentTopic.topicPostList}">
<p th:text="'Posted: ' + ${post.date}"></p>
    <a th:href="'/profile/' + ${post.postingUser.id}"><h3 th:text="${post.postingUser.username}"></h3></a>
    <p th:text="${post.body}"></p>
</li>
</ol>
<form action="/add-post" method="post">
    <fieldset>
        <label for="body">Add your thoughts!</label>
        <!--TODO: Optional--add minimum character count -->
        <textarea name="body" required></textarea>
        <input type="hidden" name="topicId" th:value="${currentTopic.getId()}">
        <input type="submit" value="Submit Post">
    </fieldset>
</form>

<footer></footer>
</body>
</html>
